<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>API TRIBUNAL</span>
            <h1>Consumir a API<br/>do Tribunal</h1>
        </div>
        <img ngSrc="apitribunal.png" width="300" height="300" priority>
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% dos<br/>
                advogados
            </h2>
        </div>
        <p>não sabem como lidar com problemas de organização de <b>arquivos</b><br/> e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="consuma api"></btn-primary>
    </section>
</main>