<div style="text-align: center;">
  
  <mat-form-field>
    <mat-label>Selecione o Tribunal</mat-label>
    <mat-select [(ngModel)]="tribunalSelecionado">
      @for (tribunal of tribunais; track tribunal){
      <mat-option [value]="tribunal.alias">
        {{ tribunal.nome }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Número do processo</mat-label>
    <input matInput [(ngModel)]="numeroProcesso">
  </mat-form-field>

  <br/>

  <button (click)="submit()" class="btn">
    {{ btnText }}
  </button>
</div>

@if (consultaFeita && processo) {
  <div>

    <h3>Detalhes do Processo Judicial:</h3>
    
    <p><strong>ID do Processo:</strong> {{ processoId }}</p>

    <p><strong>Número do Processo:</strong> {{ processo.numeroProcesso }}</p>

    <p><strong>Classe:</strong> {{ processo.classe.nome }}</p>

    <p><strong>Sistema:</strong> {{ processo.sistema.nome }}</p>

    <p><strong>Orgão Julgador:</strong> {{ processo.orgaoJulgador.nome }}</p>

    <p><strong>Data de Ajuizamento:</strong> {{ formatarData(processo.dataAjuizamento) }}</p>

    <p><strong>Data da última atualização:</strong> {{ formatarData(processo.dataHoraUltimaAtualizacao) }}</p>

    <p><strong>Tribunal:</strong> {{ processo.tribunal }}  <strong>Grau:</strong> {{ processo.grau }}</p>

    <h3>Movimentações do Processo</h3>
    <div class="table-container">
      <table border="1" cellspacing="0" cellpadding="10">
        <thead>
          <tr>
            <th>Data/Hora</th>
            <th>Código</th>
            <th>Nome do Movimento</th>
            <th>Complementos Tabelados</th>
          </tr>
        </thead>
        <tbody>
          @for (movimento of processo.movimentos.slice((page - 1) * itemsPerPage, page * itemsPerPage); track movimento){
            <tr>
              <td>{{ formatarData(movimento.dataHora) }}</td>
              <td>{{ movimento.codigo }}</td>
              <td>{{ movimento.nome }}</td>
              <td>
                <ul>
                  @for (complemento of movimento.complementosTabelados; track complemento){
                    <li> {{ complemento.nome }} </li>
                  }
                </ul>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  <div class="button-container">
    <button (click)="paginaAnterior()" [disabled]="page === 1">Anterior</button>
    <button (click)="proximaPagina()" [disabled]="page * itemsPerPage >= totalMovimentos">Próxima</button>
  </div>

  </div>
} 
@else if (consultaFeita && !processo) {
  <div>
    <h3>Detalhes do Processo Judicial:</h3>
    <span>Não há informações sobre o processo ou houve um erro na consulta.</span>
  </div>
}
