@import "../../../color-variables.scss";

.btn {
  display: inline-block;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 16px 20px;
  text-align: center;
  margin: 0 auto;
  color: white;
  background: -webkit-linear-gradient(180deg, $primary-color, $secondary-color);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
  
}

mat-form-field {
  margin-top: 50px;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

table thead tr {
  background-color: #009879;
  color: white;
  font-weight: bold;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

table td ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.table-container {
  max-height: 30rem; /* Define uma altura máxima para a tabela */
  overflow-y: auto; /* Adiciona rolagem vertical se o conteúdo ultrapassar a altura */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #009879;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;  /* Adiciona espaçamento entre os botões */
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Alinha os botões à direita */
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .btn {
    padding: 18px 36px;
    font-size: 21px;
  }
}

